html,
body,
#root {
  height: 100%;
  width: 100%;
  opacity: 1;
  background-image: radial-gradient(rgb(100, 100, 100) 0.5px, white 0.5px);
  background-size: 20px 20px;
  z-index: -1;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.top-left {
  z-index: 1000;
  position: absolute;
  width: 20vw;
  margin-left: 10vw;
}

.bottom-right {
  z-index: 1000;
  position: absolute;
  top: 300px;
  right: 0;
  width: 20vw;
  margin-right: 10vw;
}

.header {
  width: 100%;
  background-color: black;
  margin: 0;
  margin-bottom: 3vh;
  height: 10vh;
  z-index: 10000;
  display: flex;
  opacity: 1;
}

.header > h3 {
  position: absolute;
  top: -10px;
  margin: 0;
  margin-left: 2vw;
  color: white;
  font-size: 70px;
}

p {

}

button {
  background-color: black;
  color: white;
}